@font-face {
  font-family: "Poppins";
  src: url("/public/assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/public/assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

* {
  font-family: 'Poppins';
  font-weight: 400;
}

:root {
  --primary-50: #eef2ff;
  --primary-100: #e0e7ff;
  --primary-200: #c7d2fe;
  --primary-300: #a5b4fc;
  --primary-400: #818cf8;
  --primary-500: #6366f1;
  --primary-600: #4f46e5;
  --primary-700: #4338ca;
  --primary-800: #3730a3;
  --primary-900: #312e81;
  --primary-950: #1e1b4b;
}

.icon {
  display: grid;
  place-items: center;

  width: 22px;
  height: 22px;
}

.icon svg {
  height: 100%;
  width: 100%;

  fill: var(--primary-950);
}

.icon.small {
  width: 16px;
  height: 16px;
}

.icon.large {
  width: 30px;
  height: 30px;
}