@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", "Verdana", "Helvetica", "Arial";
}

.text-error {
  @apply text-red-500;
}

/* Desabilitar cor ao autocompletar input */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

button {
  font-weight: 500;
}
